{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<div class="container">
<div class="p-4 bg-light">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">If you want anything Check it in Navbar</h1>
      <!-- <p class="col-md-8 fs-4">You can register as student. You will be able to issue any book thorugh the librarian. After that you need to return the book within 14 days or else a fine of Rs 5 will be charged per day till the book is returned.</p> -->
      <!-- <a href="#" class="btn btn-primary btn-lg">Register as Student</a> -->
    </div>
{% endblock %}