{% extends 'html/base.html' %}
{% load static %}
{% block title %}ChangePassword{% endblock %}
{% block content %}
<br><br><br>
<div class="container mt-4">
	<div class="card col-md-4 mx-auto shadow-lg border border-success">
		<div class="card-body">
			<form method="POST" name="change_password" onsubmit="return checkPassword()">
				<h2 class="bg-info text-light text-center p-2 my-2 border-rounded"><b><u>Password Change</u></b></h2>
			    {% csrf_token %}
			    <div class="row mt-3">
			        <div class="form-group col-md-12">
			            <label><i style="font-weight: bold;">Username</i></label>
			            <input type="text" class="form-control mt-2" name="username" value="{{request.user.username}}" readonly>
			        </div>
			    </div>
			    <div class="row mt-3">
			    	<div class="form-group col-md-12">
			            <label><i style="font-weight: bold;">Current Password</i></label>
			            <input type="password" class="form-control mt-2" name="current_password" placeholder="Current Password">
			        </div>
			    </div>
			    <div class="row mt-3">
			        <div class="form-group col-md-12">
			            <label><i style="font-weight: bold;">New Password</i></label>
			            <input type="password" class="form-control mt-2" name="new_password" placeholder="Enter the new password">
			        </div>
			    </div>

			    <div class="row mt-3">
			        <div class="form-group col-md-12">
			            <label><i style="font-weight: bold;">Confirm Password</i></label>
			            <input type="password" class="form-control mt-2" name="confirm_password" placeholder="Confirm the new password">
			        </div>
			    </div>
			    <div class="row">
			        <div class="form-group col-md-12">
			    		<input type="submit" class="btn btn-outline-primary mt-2" value="Update Password">
			    	</div>
			    </div>
			</form>
		</div>
	</form>
</div>
</div>
</div>


<script>
    function checkPassword() {
        if (document.change_password.new_password.value != document.change_password.confirm_password.value) {
            alert("New Password and Confirm Password fields does not match each other.");
            document.change_password.confirm_password.focus();
            return false;
        }
        return true;
    }

    {% if alert %}
    alert("Password Updated Successfully.");
    document.location = "/lgt"
    {% endif %}

    {% if currpasswrong %}
    alert("Current Password is wrong..");
    document.location = "/changepassword"
    {% endif %}
</script>

{% endblock %}