{% extends 'html/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
   .footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
</style>
<br><br><br>
{% if not user.is_authenticated %}
<div class="container">
<div class="p-4 bg-light">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">Welcome to Library Management System</h1>
      <h5 class="col-md-8 fs-4">You can register as student. You will be able to issue any book thorugh the librarian. After that you need to return the book within 14 days or else a fine of Rs 5 will be charged per day till the book is returned.</h5>
    </div>
    <br>
    <div class="container">
  <div class="row">

    <div class="col-lg-6">
      <img src="{% static 'images/lp.jpeg' %}" width="50%" height="50%" alt=""><br><br>
        <h2>Librarian</h2>
    </div>

    <div class="col-lg-6">
      <img src="{% static 'images/stud.jpeg' %}" width="50%" height="50%" alt=""><br><br>
      <h2>Student</h2>
    </div>
  </div>
  </div>
</div>
</div>
<br><br><br>
<footer class="footer-section">
        <div>
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Rajahmundry</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>_________________</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text text-center">
                            <p>Copyright &copy; 2023, All Right Reserved <a href="https://codepen.io/anupkumar92/">GIET</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  {% else %}
  {% if request.user.role_type == '1' and request.user.has_stregister == 1 %}
<div class="container">
<div class="p-4 bg-light">
  <h1 class="text-center bg-light">AVAILABLE BOOKS IN LIBRARY</h1>
  </div>
</div>
<div class="container-fluid mt-2">
  
  <div class="row mx-2">
    {% for i in s %}
    <div class="col-md-3 my-2">
      <div class="card shadow-lg">
        <div class="card-body">
          <h5>BookName: {{i.bname}}</h5>
          <h6>No of Copies: {{i.ncopies}}</h6>
          <h6>AuthorName: {{i.authname}}</h6>
          <h6>Description: {{i.description}}</h6>
          <h6>Status: {% if i.ncopies > 0 %}
                            <p class="badge badge-success">Available</p>
                            {% else %}
                            <p class="badge badge-danger">Unavailable</p>
                            {% endif %}
          </h6>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <a href="{% url 'bookview' i.id %}" class="btn btn-success form-control">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% elif request.user.role_type == '2' and request.user.has_stregister == 0 %}
<div class="container">
<div class="p-4 bg-light">
  <h1 class="text-center bg-light">AVAILABLE BOOKS IN LIBRARY</h1>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row mx-2">
    {% for i in s %}
    <div class="col-md-3">
      <div class="card shadow-lg">
        <div class="card-body">
          <h5>BookName: {{i.bname}}</h5>
          <h6>No of copies: {{i.ncopies}}</h6>
          <h6>AuthorName: {{i.authname}}</h6>
          <h6>Description: {{i.description}}</h6>
          <h6>Status: {% if i.ncopies > 0 %}
                            <p class="badge badge-success">Available</p>
                            {% else %}
                            <p class="badge badge-danger">Unavailable</p>
                            {% endif %}
          </h6>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
{% endif %}
{% endif %}
{% endblock %}




